/*####################################################################################

INDEX.HTML -> LOGIN FORM

####################################################################################*/

html, body {
    overflow: hidden; /* prevents scrolling of background image*/
}

.ArtLinkLogin h2{
    color: #186C8F;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
}
.ArtLinkLogin{
    background-color: #FFFFFF;
    width: 39%;
    height: 81%;
    border-radius: 50px;
}
.bodylogin{
    background-image: url('../images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ArtLinkLogin form {
    display: flex;
    flex-direction: column;  
    gap: 20px;
    align-items: center;
}

.ArtLinkLogin input {
    padding: 10px;
    font-size: 16px;
    width: 70%;
    border: none;
    border-radius: 50px;
    justify-content: center;
    background-color: #93A7B0;
}

.ArtLinkLogin button {
    padding: 10px;
    font-size: 24px;
    background-color: #186C8F;
    color: white;
    border: none;
    border-radius: 50px;
    width: 70%;
}


.logo{
    width: 100px;
}

/*####################################################################################

REGISTER.HTML -> REGISTER FORM

####################################################################################*/
.ArtLinkRegister h2{
    color: #186C8F;
    font-family: fantasy;
    font-size: 40px;
    text-align: center;
}
.ArtLinkRegister{
    background-color: #FFFFFF;
    width: 60%;
    height: 80%;
    border-radius: 50px;
}
.bodyregister{
    background-image: url('../images/backgroundimage.png');
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.ArtLinkRegister form {
    display: flex;
    flex-direction: column;  
    gap: 20px;
    align-items: center;
}

.ArtLinkRegister input {
    padding: 10px;
    font-size: 16px;
    width: 60%;
    border: none;
    border-radius: 50px;
    justify-content: center;
    background-color: #93A7B0;
}

input::placeholder {
    color: white;
}

.ArtLinkRegister button {
    padding: 10px;
    font-size: 24px;
    background-color: #186C8F;
    color: white;
    border: none;
    border-radius: 50px;
    width: 60%;
    cursor: pointer;
}



/*####################################################################################

profile.html

####################################################################################*/

/* Profile Picture Section */










/* Prof

/*####################################################################################

index.html -> logged in homepage

####################################################################################*/
.homepagenav {
    display: flex;
    justify-content: space-between; /* Push content to the edges */
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    background-color: #D9D9D9;
    margin: 0px;
    width: 100vw;
    height: auto;
}

.homepagenav a {
    display: inline-block;
}
.loginsignupprompt{
    font-family:sans-serif;
    font-size: 10px;
    padding-left: 10px;
}

.homepagenav img {
    width: 40px; /* Set a fixed width */
    height: 40px; /* Set a fixed height to make it square */
    border-radius: 50%; /* Make it circular */
    padding: 5px
}

.homepagenav input::placeholder {
    color: black;
}

