<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="images/icon.png">
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>
    <script type = "module" src = "js/login.js" defer></script>
</head>
<body>
    <body class = "bodylogin">
        <div class = "ArtLinkLogin">
            <h2>ArtLink</h2>
            <form id="loginform">
                <input type="text" name = "email" required placeholder = "Email">
                <input type="password" name  = "password" required placeholder = "Password">
                <img class = "logo" src = "images/logo.png" alt = "ArtLink logo">
                <p> <a href="templates/register.html" id = "register"> New user? Sign up here!</a></p>
                <button type = "submit">Login</button>
            </form>
        </div>
    </body>
</body>
</html>
