<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/icon.png">
    <script type = "module" src = "/js/register.js" defer></script>
</head>
<body class = "bodyregister">
        <div class = "ArtLinkRegister">
            <h2>ArtLink</h2>
            <form id="registerform">
                <input type="email" name="email" required placeholder="Email">
                <input type="email" name="confirmEmail" required placeholder="Confirm Email">
                <input type="password" name="password" required placeholder="Password">
                <input type="password" name="confirmPassword" required placeholder="Confirm Password">
                <button type="submit">Sign Up</button>
                <p><a href="/templates/login.html" id="login">Have an Account? Login Here!</a></p>
            </form>            
        </div>
</body>
</html>
